.login {
  position: relative;
  grid-column: 1 / -1;
  min-height: 80vh;
}

.register {
  position: relative;
  grid-column: 1 / -1;
  min-height: 100vh;
}

.messages{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.message-error{
  color: red;
}

.formwrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  color: $primary;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 10px 10px 150px -65px rgba(0, 0, 0, 0.75);
  width: 45rem;
  .title {
    text-align: center;
    margin: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      border: none;
      outline: none;
      margin: 1rem;
      background: $red;
      &:hover {
        background: $red2;
        cursor: pointer;
      }
    }
    .inputbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0.2rem;
      label {
        font-size: 1.3rem;
        padding: 0.5rem 0rem;
      }
      input {
        min-height: 8vh;
        width: 25rem;
        color: $primary;
        font-weight: 700;
        padding: 0.5rem;
        border: 2px solid $white-variant;
        outline: none;
        font-size: 1.6rem;
      }
      textarea {
        min-height: 8vh;
        width: 25rem;
        color: $primary;
        font-weight: 700;
        padding: 0.5rem;
        border: 2px solid $white-variant;
        outline: none;
        word-break: break-word;
        resize: none;
        font-size: 1.8rem;
      }
    }

    a {
      color: inherit;
    }
  }
}

#textarea {
  height: 25vh;
}

#btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 1rem;
  background: $red;
  &:hover {
    background: $red2;
    cursor: pointer;
  }
}
