.productsc {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column: 1 / -1;

  &__head {
    grid-column: 1 / -1;
    height: 5vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
    a {
      color: black;
    }
  }

  &__main {
    grid-column: 2 / 24;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    padding: 2rem;
    &__desc {
      grid-column: 2 / 12;
      padding: 2rem;
      @include respond(tab-port) {
        grid-column: 1 / -1;
        justify-self: center;
      }
      @include respond(phone) {
        grid-column: 1 / -1;
        justify-self: center;
      }
      select {
        margin: 3rem;
        background: transparent;
        width: 6rem;
        height: 4rem;
        font-size: 1.6rem;
        background: $white;
        border: none;
        border-radius: 5px;
      }
      button {
        font-size: 1.7rem;
        background: $white;
        color: $red;
        border: none;
        border-radius: 5px;
        padding: 0.8rem;

        &:hover {
          background-color: $white-variant;
          cursor: pointer;
          transition: all 0.3s;
        }
      }
    }
    &__image {
      grid-column: 12 / -1;
      @include respond(tab-port) {
        grid-column: 1 / -1;
        justify-self: center;
      }
      @include respond(phone) {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }
}

.product {
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
  position: relative;
  overflow: hidden;

  &__bottom {
    background: $white-variant;
    width: 100%;
    bottom: -45%;
    position: absolute;
    transition: all 0.5s ease;
    color: $red;
    padding: 1rem;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover .product__bottom {
    bottom: 0%;
    transition: all 0.5s ease;
  }
  a {
    color: black;
  }

  &__btn {
    padding: 0.5rem;
    button {
      color: $red;
      border-radius: 0.2rem;
      padding: 0.7rem;
      border: none;
      margin: 0.2rem;
      &:hover {
        background-color: $white-variant;
        cursor: pointer;
      }
    }
  }
}
