.home {
  grid-column: 1 / -1;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.search {
  padding: 0.5rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__input {
  height: 8vh;
  margin: 1rem;
  input {
    width: 25rem;
    padding: 0.5rem;
    border: 2px solid $red;
    height: 100%;
    font-weight: 700;
  }
}

.search__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  p {
    margin-right: 2rem;
    &:hover {
      cursor: pointer;
      color: $red;
    }
    &:last-child {
      margin-right: 0rem;
    }
  }
}
