.title{
  color: $red;
}


.login{
  display: grid;
  grid-template-columns: 4fr 6fr 2fr 6fr 4fr;
  grid-template-rows: 15vh auto auto;
  grid-template-areas: ". message message message ."
  ". login . register ."
  ". . . . .";
} 

.messages{
  grid-area: message;
  width: 100%;
  text-align: center;
}
.login__login{
  grid-area: login;
  padding: 2rem;
  border: 1px solid $red;
  -webkit-box-shadow: -2px 2px 31px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 31px -10px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 31px -10px rgba(0,0,0,0.75);
  margin-bottom: 3rem;

}

.formwrapper{
  padding: 1rem;
  margin: 2rem 0rem;
  .messages{
    text-align: center;
    padding: .4rem;
  }

  form{
    display: flex;
    flex-direction: column;

    .inputbox{
      display: flex;
      flex-direction: column;
      margin: 1rem 0rem;
      label{
        font-size: 1.5rem;
      }

      input{
        height: 6rem;
        text-align: center;
        font-size: 1.7rem;
        color: $red;
        font-weight: 600;
        outline-color: $red;
      }

    }
      button{
        width: 35px;
        height: 35px;
        background-color: $red;
        border: none;
        outline: none;

        &:hover{
          cursor: pointer;
          background-color: $red2;
        }
      }
  }
}

.login__register{
  grid-area: register;
  padding: 2rem;
  border: 1px solid $red;
  -webkit-box-shadow: -2px 2px 31px -10px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 31px -10px rgba(0,0,0,0.75);
box-shadow: -2px 2px 31px -10px rgba(0,0,0,0.75);
}


@media(max-width: 1100px){
  .login{
    grid-template-areas: ". message message message ."
    ". login login login ."
    ". register register register .";
  }
}

@media(max-width: 600px){
  .login{
    grid-template-areas: "message message message message message"
    "login login login login login"
    "register register register register register";
  
}
}
