.login {
  grid-column: 1/-1;
  border: 4px solid red;
  position: relative;
  height: 90vh;
  background-color: $white;
}
.register {
  grid-column: 1/-1;
  border: 4px solid red;
  position: relative;
  height: 90vh;
  background-color: $white;
}
.formcontainer {
  border: 3px solid red;
}
.form__inputbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  input {
    height: 6vh;
  }
}
.formwrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  text-align: center;
  background-color: $white-variant;
  font-size: 1.1rem;
}
