.nav {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  font-size: 1.2rem;
  height: 14vh;
}

.nav__left {
  grid-column: 2 / 5;
  justify-self: center;
  align-self: center;
  position: relative;
  &__back {
    position: absolute;
    top: -40px;
    left: -5px;
    width: 90px;
    height: 70px;
    background-color: $red;
    z-index: -999;
  }
  &__front {
    z-index: 999;
    a {
      color: $primary;
    }
  }
}
.nav__middle {
  grid-column: 6 / 15;
  justify-self: center;
  align-self: center;

  a {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0rem;
    }
  }
}
.nav__right {
  grid-column: 16 / 22;
  justify-self: center;
  align-self: center;

  a {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0rem;
    }
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: $red;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}

// Burger menu
.burger {
  height: 10vh;
  background-color: $white-variant;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.burger__logo a {
  color: $primary;
}
.burger__user a {
  font-size: 2rem;
  color: $red;
  margin: 0rem 1rem;
}
.burger__logo {
  font-size: 1.2rem;
}
