.placeorder {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.address {
  grid-column: 1/ -1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.placeorderbtn {
  grid-column: 1 / -1;
  justify-self: center;
  margin: 2rem;
  padding: 0.5rem;
}
