.productsc {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column: 1 / -1;
  &__head {
    grid-column: 1 / -1;
    height: 5vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
    a {
      color: black;
    }
  }

  &__main {
    grid-column: 2 / 24;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    padding: 2rem;
    &__desc {
      grid-column: 2 / 12;
      font-size: 1.2rem;
      padding: 2rem;

      select {
        margin: 3rem;
        font-size: 1.4rem;
        background: transparent;
        width: 3rem;
        height: 2rem;
        background: $white;
        border: none;
        border-radius: 5px;
      }
      button {
        font-size: 1.2rem;
        background: $white;
        color: $red;
        border: none;
        border-radius: 5px;
        padding: 0.8rem;
        &:hover {
          background-color: $white-variant;
          cursor: pointer;
          transition: all 0.3s;
        }
      }
    }
    &__image {
      grid-column: 12 / -1;
    }
  }
}
