
.footer {
    color: white;
    height: 35vh;
    background-color: $color-4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
    font-size: 1.1rem;
    font-weight: 600;
    &__contact {
        ul {
            list-style: none;
            li {
                margin-bottom: 1rem;
            }
        }
    }

    &__social {
        ul {
            list-style: none;
            li {
                margin-bottom: 1rem;
            }
        }
    }
}