
.header {
    width: 100%;
    background-color: $color-5;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__search {

        input {
            height: 2.2rem;
            width: 14rem;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid $color-2;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
    }
}