
.userlist {
    &__title {
        font-size: 2rem;
        padding: 2rem;
    }

    &__table {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        text-align: center;
    }
}