.footer {
  background-color: $primary;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.social {
  grid-column: 2 / 5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
