.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14vh;
  position: fixed;
  top: 0%;
  width: 100%;
  background: $white;
  z-index: 9999;
}

.nav__left {
  position: relative;
  &__front {
    z-index: 999;
    a {
      color: $red;
      font-size: 1.7rem;
    }
  }
}
.nav__middle {
  a {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0rem;
    }
  }
}
.nav__right {
  a {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0rem;
    }
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    color: $red;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}

// Burger menu
.burger {
  height: 10vh;
  background-color: $white-variant;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.burger__logo a {
  color: $primary;
}
.burger__user a {
  color: $red;
  margin: 0rem 1rem;
}
.burger__logo {
  font-size: 1.2rem;
}
