.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 14vh;
  top: 0%;
  width: 100%;
  background: $white;
  z-index: 9999;
  padding-left: 3rem;
}

.nav__normal a{
  margin-right: 3rem;
}

.nav__auth{
  margin-left: 4rem;

  a{
    margin-right: 3rem;
  }
}

