.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.hero {
  margin-top: 14vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $primary-variant;
  color: $white;
  height: 8vh;
  &__text {
    display: flex;
    justify-content: center;

    * {
      margin-right: 1.7rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
}
