.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.hero {
  margin-top: 14vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $primary-variant;
  color: $white;
  height: 8vh;
  &__text {
    display: flex;
    justify-content: center;

    * {
      margin-right: 1.7rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
}

.cart-absolute {
  position: fixed;
  top: 10%;
  left: 5%;
  background: $red;
  color: $white;
  padding: 1.2rem;
  border-radius: 20%;
  font-size: 1.5rem;
}
.cart-absolute-icon {
  a {
    color: $white;
  }

  &-qty {
    position: absolute;
    right: -30%;
    top: -40%;
    padding: 0.7rem;
    background: $red2;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
  }
}
