
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

$color-1: #272D2D;
$color-2: #97CC04;
$color-3: #EEB902;
$color-4: #F45D01;
$color-6: #FB3640;

$color-white-base: #F6F8FF;
$color-white-1: #EDE7E3;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: 62.5%;
    font-family: 'Lexend', sans-serif;
}