

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    &__sidebar {
        grid-column: 1 / 5;
    }
    &__content {
        grid-column: 5 / 15;
    }
    &__footer {
        grid-column: 1 / 15;
    }
}


.home {
    background-color: $color-white-base;
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        width: auto;
        height: auto;
        min-height: 100vh;

    }
}

.containertwo {
    width: 100%;
}