

.container {
    width: 100%;
    background-color: $color-1;
    &__content {
        background-color: $color-2
    }
}


.home {
    &__hero {
        background: url(../assets/sport.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: $color-2;
    }

    &__products {
        display: flex;
    }
}
