
.signup {
    min-height: 100vh;
    background-color: $color-white-base;
    &__title {
        font-size: 3rem;
        padding: 2rem;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__element {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;
            position: relative;
            input {
                height: 3rem;
                width: 22rem;
                text-align: center;
                font-size: 1rem;
                border: none;
                background-color: $color-white-1;
            }
            label {
                position: absolute;
                top: -20px;
                left: 0px;
                font-size: 1rem;
            }
        }
        button {
            height: 3rem;
            width: 9rem;
            background-color: $color-1;
            color: white;
            font-weight: 600;
            border: none;
        }
    }
}