
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$yellow: yellow;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.active{
    color: green;
}

.disabled{
    pointer-events: none;
    color: red;
}