@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$main: #90f7d8;
$flavor: #f1f8f6;
$flavor2: #a2f09f;
$flavor3: #def8de;
$helper: #f9faf3;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: $helper;
}
