


.nav {
    background-color: $flavor;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    font-size: 1rem;
    &__left {
        grid-column: 2 / 11;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            padding: 1.2rem;
        }
    }

    &__right {
        grid-column: 18 / -1;

        &__links {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                padding: 1.2rem;
            }

            button {
                background: transparent;
                color: white;
                border: none;
                outline: none;

                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
}