
.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &__products {
        grid-column: 1 /12;
        display: flex;
        flex-wrap: wrap;
        padding: 3rem;
    }
}
.product {
    margin: 2rem;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.1rem;
    width: 25%;
    &__image {
        padding: 2rem;
        display: flex;
        justify-content: center;
        img {
            display: block;
            max-width: 100%;
        }
    }
}

.productsc {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &__head {
        grid-column: 2 / 11;
        font-size: 1.2rem;
        &__goback {
            padding: 1rem;
            i {
                margin: .3rem;
            }
        }
    }
    &__main {
        grid-column: 2 / 11;
        
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__desc {
            grid-column: 2 / 7;
            font-size: 1.2rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            * {
                margin: .5rem;
            }
            button {
                background: transparent;
                padding: .5rem;
                transition: all .2s;

                &:hover {
                    transition: all .2s;
                    cursor: pointer;
                }
            }
        }
        &__image {
            grid-column: 7 / 10;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__foot {
        grid-column: 1 / -1;
        padding: 2rem;
        font-size: 1rem;
    }
}
